<h1><%= @user.name %>'s Collection</h1>

<% @user.user_cards.each do |uc| %>
  <%= uc.card.player_name  %> - 
  <%= uc.card.player_team  %> -
  <%= uc.date_acquired  %> -  
  <%= uc.condition  %>
<% end %>


<h3>Add a card to your collection</h3>
<%= form_for @uc do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.collection_select :card_id, @user.unowned_cards, :id, :player_name   %>
  <%= f.text_field :condition %>
  <%= f.date_field :date_acquired %>
  <%= f.submit %>
<% end %>